<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>StackSync</title>
    </head>
    <body>
        <div class="container" style="width: 768px;">
            <h1>StackSync</h1>
            <hr />
            <h3>The following application requests access to your files:</h3>
            <h4>{{ application_title }}</h4>
            <div>{{ application_descr }}</div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <img src="http://stacksync.org/wp-content/uploads/2014/03/stacksync-logo-noletters-transparent-square.png" style="max-width:230px;"  alt="StackSync">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <form role="form" class="form-signin" action="/oauth/authorize?oauth_token={{ oauth_token }}" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email address" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="permission" id="allow" value="allow" checked>
                                    Allow access to this app
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="permission" id="deny" value="deny">
                                    Deny access to this app
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div> <!-- /container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>
